<center>
  <h2>Welcome <%= current_user.name %>!</h2>
  <%= button_to "Discover Movies", "/discover", method: :get %>
  <%= link_to "Click Here to Logout", "/logout", method: :delete %>
</center>

<section class="friends">
  <h4>Friends</h4>
  <%= form_with url: "/friendships", local: true do |f| %>
    <% f.label :email %>
    <%= f.text_field :email, placeholder: "Friend's Email" %>

    <%= f.submit "Add Friend" %>
  <% end %>

  <% if !@friends.empty? %>
    <% @friends.each do |friend| %>
      <%= friend.name %>
    <% end %>
  <% else %>
    <%= "You currently have no friends" %>
  <% end %>
</section>

<section class="viewing_parties">
  <h4>Viewing Parties</h4>
  <% if !current_user.parties.empty? %>
    <% current_user.parties.each do |party| %>
      <%= link_to "Title: #{party.movie_title}", "/movies/#{party.movie_id}" %>
      <p>Duration: <%= party.duration %></p>
      <p>Date: <%= party.date %></p>
      <p>Start time: <%= party.start_time %></p>
      <p>Hosting</p>
    <% end %>
  <% end %>
  <% if !current_user.parties_invited_to.empty? %>
    <% current_user.parties_invited_to.each do |party| %>
    <%= link_to "Title: #{party.movie_title}", "/movies/#{party.movie_id}" %>
      <p>Duration: <%= party.duration %></p>
      <p>Date: <%= party.date %></p>
      <p>Start time: <%= party.start_time %></p>
      <p>Invited</p>
    <% end %>
  <% end %>
</section>
