<!DOCTYPE html>
<html>
  <head>
    <title>ViewingParty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="image-wrapper">
        <img src="https://st2.depositphotos.com/1031174/10987/i/600/depositphotos_109877990-stock-photo-film-strips-background.jpg" alt="">
      </div>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <div class="navbar-nav">
            <% if current_user %>
              <%= link_to "Your Dashboard", '/dashboard', class: "nav-link" %>
              <%= link_to "Explore Movies", '/movies', class: "nav-link" %>
              <%= link_to "Log Out", '/logout', method: 'delete', class: "nav-link"%>
            <% else %>
              <%= link_to "Welcome", '/', class: "nav-link" %>
              <%= link_to "Register as a user", registration_path, class: "nav-link" %>
              <%= link_to "Log In", "/login", class: "nav-link" %>
            <% end %>
          </div>
        </div>
      </nav>
      <% flash.each do |type, msg| %>
        <div class="<%= "alert alert-#{type}" %>">
          <%= msg %>
        </div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer>
      <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="The MovieDB Logo" width="75px" style="margin:10px" >
      <div>
        <p>
          Thank you to <a href="https://www.themoviedb.org/about/logos-attribution">The MovieDB</a> for providing the movie data that is used in this application.
        </p>
        <p>
          Further citation information regarding the movie data used in this project can be found <a href="http://files.grouplens.org/datasets/movielens/ml-latest-small-README.html">here.</a>
        </p>
      </div>
    </footer>
  </body>
</html>
